{% load static i18n %}
<!DOCTYPE HTML>
<html>

<head>
  <title>WikiApp SuperHeroes </title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" title="style" />

</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="{% url 'index'%}">{% trans "WikiApp" %}<span class="logo_colour"> {% trans "SuperHeroes" %}</span></a></h1>
          <h2>{% trans "Information about Editorials, SuperHero Groups and SuperHeroes" %}</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="{% url 'index'%}">{% trans "Home" %}</a></li>
          <li><a href="{% url 'listaeditorial' %}">{% trans "Editorials" %}</a></li>
          <li><a href="{% url 'listagrupodesuperheroes' %}">{% trans "Groups" %}</a></li>
          <li><a href="{% url 'listasuperheroes' %}">{% trans "SuperHeroes" %}</a></li>
          <li><a href="{% url 'contact' %}">{% trans "Contact" %}</a></li>
        </ul>
        <div style="float:right; margin-right:20px;">
          <form action="/i18n/setlang/" method="post">
            {% csrf_token %}
            <label for="language_select">{% trans "Language" %}:</label>
            <select name="language" id="language_select" onchange="this.form.submit()">
              <option value="en" {% if request.LANGUAGE_CODE == 'en' %}selected{% endif %}>{% trans "English" %}</option>
              <option value="es" {% if request.LANGUAGE_CODE == 'es' %}selected{% endif %}>{% trans "Spanish" %}</option>
              <option value="eu" {% if request.LANGUAGE_CODE == 'eu' %}selected{% endif %}>{% trans "Basque" %}</option>
            </select>
            <input type="hidden" name="next" value="{{ request.path }}" />
          </form>
        </div>
      </div>
    </div>
    <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>{% trans "About Us" %}</h3>
        <h4>{% trans "What is this project about?" %}</h4>
        <h5>{% trans "Web Engineering Project 2025-2026" %}</h5>
        <p>{% trans "It is a project developed with HTML, Python and Django. The project is about an application to search information about SuperHeroes." %}
          <br />
        <p></p>
        <h4>{% trans "Who are we?" %}</h4>
        <h5>{% trans "Deusto Engineering" %}</h5>
        <p>{% trans "We are two students studying the Web Engineering course at the University of Deusto." %} 
          <br />
        <h3>{% trans "Authors" %}</h3>
        <ul>
          <li>Gaizka Gredilla Yarritu</li>
          <li>Oihan Bilbao Perez</li>
        </ul>
        
      </div>
      <div id="content">
        {% block contenido %}{%endblock%}
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      {% trans "Copyright" %} &copy; colour_purple | <a href="http://validator.w3.org/check?uri=referer">{% trans "HTML5" %}</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">{% trans "CSS" %}</a> | <a href="http://www.html5webtemplates.co.uk">{% trans "HTML5 Web Templates" %}</a>
    </div>
  </div>
  
  <script src="{% static 'style/js/BotonFactou.js' %}"></script>
  <script src="{% static 'style/js/hora.js' %}"></script>

</body>
</html>
