{% extends 'WikiApp/base.html' %}
{% load static i18n %}
{% block contenido %}
<html>
<head>
    <title>{% trans "Group Details" %}</title>
    <link rel="icon" href="{% static 'SuperLogo.png' %}" type="image/png">

</head>
<body>
    <h1>{% trans "Group Details" %}</h1>
    <p>{% trans "Name" %}: {{ grupodesuperheroes.nombre }}</p>
    <p>{% trans "Editorial" %}: {{ grupodesuperheroes.editorial }}</p>
    <h2>{% trans "SuperHeroes" %}</h2>
    <div id="tabla">
    <table>
        <tr><th>{% trans "Image" %}</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Powers" %}</th></tr>
    {% for superheroes in grupodesuperheroes.SuperHeroe.all %}
        <tr><td>
        {% if superheroes.imagenSuperHeroe %}
            <img class="imagenSuperHeroe" src="{{ superheroes.imagenSuperHeroe }}" alt="{% trans 'image' %}" style="width:70px"  >
        {% else %}
           <img class="imagenSuperHeroe" src="{% static 'style/SuperHeroeSinFoto.png' %}" alt="{% trans 'no image' %}" style="width:70px">
        {% endif %}

    </td>
    
        <td>
            <a href="{% url 'detallesuperheroes' superheroes.id %}">
                {{ superheroes.nombre }} {{ superheroes.Fnacimiento }}
            </a>
        </td>
        <td>
            {{ superheroes.poderes }}
        </td>
        
    {% empty %}
        <tr><td colspan="3">{% trans "No superheroes associated to this Editorial" %}</td></tr>
    {% endfor %}
        </tr>
    </table>
    </div>
</body>
</html>
{% endblock %}