{% extends 'WikiApp/base.html' %}
{% load i18n %}
{% block contenido %}
<html>
<head>
    <title>{% trans "Editorial Details" %}</title>
</head>
<body>
    <h1>{% trans "Editorial Details" %}</h1>
    <p>{% trans "Name" %}: {{ editorial.nombre }}</p>
    <p>{% trans "Year founded" %}: {{ editorial.anoFundacion }}</p>
    <p>{% trans "Owner" %}: {{ editorial.propietario }}</p>
    <h2>{% trans "SuperHero Groups" %}</h2>
    <ul>
    {% for grupo in editorial.editorialGrupo.all %} 
        <li>
            <a href="{% url 'detallegrupodesuperheroes' pk=grupo.pk %}">
                {{ grupo.nombre }}
            </a>
        </li>
    {% empty %}
        <li>{% trans "No superhero groups associated to this editorial." %}</li>
    {% endfor %}
    </ul>
</body>
</html>
{% endblock %}