{% extends 'WikiApp/base.html' %}
{% load i18n %}
{% block contenido %}
<html>
<head>
    <title>{% trans "SuperHero Details" %}</title>
    <link rel="icon" href="{% static 'SuperLogo.png' %}" type="image/png">

</head>
<body>
    <h1>{% trans "SuperHero Details" %}</h1>
    <p>{% trans "ID" %}: {{ superheroe.id }}</p>
    <p>{% trans "Name" %}: {{ superheroe.nombre }}</p>
    <p>{% trans "Date of birth" %}: {{ superheroe.Fnacimiento }}</p>
    <p>{% trans "Powers" %}: {{ superheroe.poderes }}</p>
    {% if superheroe.imagenSuperHeroe %}
        <p>{% trans "Image" %}:</p>
        <img class="imagenSuperHeroe" src="{{ superheroe.imagenSuperHeroe }}" alt="{% trans 'image' %}" style="width:300px" >
    {% else %}
        <p>{% trans "No image available for this SuperHero" %}.</p>
    {% endif %}

</body>
</html>
{% endblock %}