{% extends 'WikiApp/base.html' %}
{% load i18n %}
{% block contenido %}
<div id="content">
    <h1>{% trans "Main Menu" %}</h1>
    <p>{% trans "Choose an option:" %}</p>
    
    <div class="menu-section">
        <h3>{% trans "Editorials" %}</h3>
        <p><a href="{% url 'listaeditorial' %}">{% trans "View Editorials list" %}</a></p>
    </div>
    
    <div class="menu-section">
        <h3>{% trans "SuperHero Groups" %}</h3>
        <p><a href="{% url 'listagrupodesuperheroes' %}">{% trans "View Groups list" %}</a></p>
    </div>
    
    <div class="menu-section">
        <h3>{% trans "SuperHeroes" %}</h3>
        <p><a href="{% url 'listasuperheroes' %}">{% trans "View SuperHeroes list" %}</a></p>
    </div>
</div>
{% endblock %}