{% extends 'base.html' %}
{% block contenido %}
<html>
<head>
    <title>Menú Principal</title>
</head>
<body>
    <h1>Menú Principal</h1>
    <p>Elige una opción:</p>
    <ul>
        <li><h1>Lista de Editoriales</h1></li>
        <li><a href="{% url 'listaeditorial' %}">Ver Lista de Editoriales</a></li>
        <li><h1>Lista de Grupos de SuperHeroes</h1></li>
        <li><a href="{% url 'listagrupodesuperheroes' %}">Ver Lista de Grupos De SuperHeroes</a></li>
        <li><h1>Lista de SuperHeroes</h1></li>
        <li><a href="{% url 'listasuperheroes' %}">Ver Lista de SuperHeroes</a></li>
    </ul>
</body>
</html>
{% endblock %}